* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

body{
	background-color: rgb(240, 240, 216);
	font-family: helvetica;	
}

.container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

span {
	background-color: rgb(236, 209, 126);
	width: 50%;
	padding: 10px;
	margin-left: 150px;
	list-style: none;
	
}
/*section {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	margin-right: 20px;
	
}*/
article, a {
	
	
	margin-left: 20px;
	margin-bottom: 20px;
	

	
}
ul, ol {
	margin-left: 20px;
}

li {
	margin-left: 20px;

}



header {

	display: inline-flex;
	width: 100%;
	margin: 0 auto;											
	position: relative;	
}

aside, p{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	color: rgb(154, 83, 45);
	font-family: helvetica;
	font-weight: bold;

	margin-right: 20px;
}

section, p{	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	color: rgb(154, 83, 45);
	font-family: helvetica;
	font-weight: bold;
	border: 0 auto;
	margin-left: 50px;
	
}
/*.inline {
	color: rgb(154, 83, 45);
	font-family: helvetica;
	font-weight: bold;

	display: inline-flex;

	
	margin-bottom: 10px;
}

.subinline {
	color: rgb(154, 83, 45);
	font-family: helvetica;
	font-weight: bold;
	display: inline-flex;
	margin-top: 20px;
	
	margin-bottom: 10px;

}



/*	color: rgb(154, 83, 45);
	font-size: 24px;
	margin-top: 40px;
	margin-left: 20px;

}*/

h1 {
	color: rgb(154, 83, 45);
	font-size: 24px;
	margin-top: 20px;
	margin-left: 20px;
	

}

h2 {
	color: rgb(154, 83, 45);
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

h3 {
	color: rgb(129, 167, 133);
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;

}

h4 {
	color: rgb(154, 83, 45);
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;

}

img {
	position: relative;
	margin: 10px auto;
	margin-left: 20px;

}