* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	
	
}

body {
	background-image: url("graveyard-4.jpg");
	background-size: 150%;
	font-family: Helvetica;
	text-align: center;
}

input {
	width: 90px;
	height: 90px;
	background: #800909;
	margin: 0px auto;
	border-radius: 60px;
	font-size: 32px;
	color:  #fff900;
	line-height: inherit;
	padding: 5px;
	border: 1px solid #800909;
}

#header {
	background-image: url("stone_texture.jpg");
	border: 10px solid silver;
	border-style: ridge;
	border-radius: 10px;
	padding: 5px 0 0 5px;
	margin-top: 5px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 30px;
}

#footer {
	background-image: url("stone_texture.jpg");
	border: 10px solid silver;
	border-style: ridge;
	border-radius: 10px;
	padding-bottom:5px;
	margin-top:175px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 5px;
}

h1 {
	font-family: creepster;
	color: red;		
	text-shadow: 
	1px 1px black, 2px 2px black, 
	3px 3px black, 4px 4px black, 
	5px 5px black, 6px 6px black, 
	7px 7px black, 8px 8px black,;
	font-size: 48px;
}

h2 {
	font-family: creepster;
	color: red;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.jack
{
	position: center;
	width: 1335px;
	height: 0; 

}

#pumpkin {
	width: 600px;
	height: 450px;
	background-image: url("pumkin-skin.jpg");
	border-radius: 43%;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	margin: 0px auto;
	position: relative;
}

#leftEye {
	width: 100px;
	height: 100px;
	background: #fff900;
	margin: 0px auto;
	border-radius: 60px;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	margin-top: -350px;
	position: relative;
	left: 150px;
}

#leftEye2 {
	width: 100px;
	height: 100px;
	background: #800909;
	margin: 0px auto;
	border-radius: 60px;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	margin-top: -100px;
	position: relative;
	left: 135px;
}

#rightEye {
	width: 100px;
	height: 100px;
	background: #fff900;
	margin: 0px auto;
	margin-top: -95px;
	border-radius: 60px;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	position: relative;
	right: 150px;

}

#rightEye2 {
	width: 100px;
	height: 100px;
	background: #800909;
	margin: 0px auto;
	margin-top: -100px;
	border-radius: 60px;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	position: relative;
	right: 165px;

}

#nose {
	width: 0;
	height: 0;
	border-bottom: 140px solid #fff900;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	position: relative;
	margin: 0px auto;
	margin-top: -100px;
	left: -5px;
}

#nose2{
	width: 0;
	height: 0;
	border-bottom: 120px solid #800909;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	position: relative;
	margin: 0px auto;
	margin-top: -120px;
	left: -15px;
}

#tooth1 {
	height: 0;
	width: 400px;
	border-bottom: 60px solid #fff900;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	box-shadow: brown 0px 6px 4px, 
	inset brown 0px 4px 6px;
	margin: 0px auto;
	margin-top: 60px;
	position: relative;
	left: 0px;
}

#tooth1Shadow {
	height: 0;
	width: 384.25px;
	border-bottom: 60px solid #800909;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -60px;
	position: relative;
	left: -9px;
}

#tooth2 {
	height: 0;
	width: 60px;
	border-bottom: 60px solid #fff900;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -119px;
	position: relative;
	left: -155px;
}

#tooth2Shadow {
	height: 0;
	width: 60px;
	border-bottom: 60px solid #800909;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -60px;
	position: relative;
	left: -167px;
}

#tooth3 {
	height: 0;
	width: 60px;
	border-bottom: 60px solid #fff900;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -60px;
	position: relative;
	left: 165px;
}

#tooth3Shadow {
	height: 0;
	width: 60px;
	border-bottom: 60px solid #800909;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -60px;
	position: relative;
	left: 148px;
}

#tooth4 {
	height: 0;
	width: 120px;
	border-top: 40px solid transparent;
	border-bottom: 40px solid #fff900;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -80px;
	position: relative;
	left: 0px;
}

#tooth4Shadow {
	height: 0;
	width: 120px;
	border-bottom: 40px solid #800909;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0px auto;
	margin-top: -40px;
	position: relative;
	left: -18px;
}