


body {
	background-color: silver;
	background-position: center;
	text-align: center;
	font-family: helvetica;
	border-style: dotted;
	border-color: white;
	border: 10px, 10px, 10px, 10px;
	padding: 5px, 5px, 5px, 5px;
	}

	ul {
	     padding: 0px;
	     background: lightgrey;
	     opacity: 0.55;
	     margin-left: 10px;
	     margin-right: 10px;
	     text-align: center;
	   }
	   li {
	     display: inline-block;
	     padding: 20px 20px 20px 20px;
	     font-size: 24px;
	     font-family: helvetica;
	     color: white;
	   } 

	header {
		text-align: center;
}

	h1 {
		padding: 20px;
		font-size: 48px;
		
	}

	h2 {
		padding: 20px;
		color: lightgrey;
		font-size: 48px;
		/*cool outline effect*/
		text-shadow:
		   -1px -1px 0 #000,
		   1px -1px 0 #000,
		   -1px 1px 0 #000,
		   1px 1px 0 #000;
	}

	h3 {
		text-decoration: underline;
		color: grey;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 24px;
	}

	h4 {
		font-size: 18px;
	}

	.headshot {
		
		margin: auto;
	}

	.info {
		display: inline-block;
		color: black;
		font-size; 18px;
	}


	p {
		border: 10px solid hsla(0, 0%, 100%, .5);
		background: rgba(163,163,163, .5);
		background-clip: padding-box;
		background-size: 50% 50%;
		background-repeat: no repeat;
		padding: 10px;


		font-size: 18px;
		font-weight: normal;
		color: white;
		text-align: justify;
		margin-left: 10px;
		margin-right: 10px;
	}

	li {
		display: inline;
}

	img {
		display: block;
		border:#756a60 2px solid;
		margin: auto;
}

	footer {
		text-align: center;	
}