* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

/*section {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	
}*/

body { 
	background: relative;
	width: 600px;
	margin: auto;
	
}

title {
	position: absolute;
}

.masthead {
	position: relative;
	display: block;
	margin: 0 auto;
	font-family: helvetica;

}

.masthead hr{
	margin-bottom: 80px;
	margin-left: 40px;
	margin-right: 40px;
	height: 5px;
	border: none;
	opacity: .55;
	background-color: #cc5543;
}

.masthead img {
	flex
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.masthead div {
	position: absolute;
	
}

header {

	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;

}

h1 {
	font-family: helvetica;
	text-align: justify;
	font-size: 15px;
}

h2 {

	display: inline-block;
	
}

ul {
	 
     padding: 0px;
     text-align: center;
   }

li {
	font-family: helvetica, bold;
	display: inline-block;
	padding: 0px 0px 20px 20px;


	}

	article {
	
	}