
body { 
	background: absolute;
	width: 600px;
	margin: auto;
	
}

img {
	display: block;
	margin: auto;


}

header {

	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;

}

h1 {
	font-family: helvetica;
	text-align: justify;
	font-size: 15px;
}

h2 {

	display: inline-block;
	
}

ul {
	 
     padding: 0px;
     text-align: justify;
   }

li {
	font-family: 'Scheherazade', serif;
	display: inline-block;
	padding: 20px 20px 20px 20px;

	}

	article {
	
	}